spring:
  datasource:
    url: jdbc:mysql://localhost:3306/banking_db?useSSL=false&allowPublicKeyRetrieval=true&serverTimezone=UTC
    username: root
    password: password
  jpa:
    hibernate:
      ddl-auto: validate
    show-sql: true
    properties:
      hibernate:
        format_sql: true
        jdbc:
          lob:
            non_contextual_creation: true
flyway:
  enabled: true
  locations: classpath:db/migration

server:
  port: 8080

app:
  jwt:
    secret: change-this-secret-to-a-secure-one
    expiration-ms: 3600000
